.choresHeading {
   color: rgb(190, 28, 22);
   font-size: 2vw;
   font-weight: bold;
   text-decoration: underline;
   text-align: left;
}
.choresText {
   color: rgb(14, 116, 141);
   font-size: 1vw;
   text-align: left;
   list-style-type: circle;
   font-style: italic;
}
